body {
    padding: 0;
    margin: 0;
}

#card-container {
    background-color:#212228;
    background-image: linear-gradient(#292a30 .1em, transparent .1em), 
    linear-gradient(90deg, #292a30 .1em, transparent .1em);
    background-size: 4em 4em;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#card-yellow {
    display: flex;
    width: 240px;
    height: 240px;
    flex-direction: column;
    align-items: flex-start;
    gap: -1px;
    padding: 16px;
    padding-bottom: 24px;
    background: #FFF6C8;
    box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.25);
    position: absolute;
    z-index: 1; 
    /* canvas stacking needs to be updated later on */
}

.card-text {
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    outline: none;
    background: transparent;
    border: none;
    resize: none;
}

.card-icon {
    position: absolute;
    bottom: 16px;
    right: 16px;
}

#note-picker {
    display: inline-flex;
    position: absolute;
    top: 80px;
    left: 32px;
    padding: 20px 8px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 32px;
    background: #64748B;
    z-index: 2;
}

#note-picker_blue {
    width: 32px;
    height: 32px;
    border-radius: 100px;
    background: #C8F2FF;
}

#note-picker_orange {
    width: 32px;
    height: 32px;
    border-radius: 100px;
    background: #FFE6C8;
}

#note-picker_yellow {
    width: 32px;
    height: 32px;
    border-radius: 100px;
    background: #FFF6C8;
}

#note-picker_red {
    width: 32px;
    height: 32px;
    border-radius: 100px;
    background: #FFC8C8;
}